nav {
  background-color: black;
  display: flex;
  height: 20vh;
  justify-content: space-around;
  align-items: center;
  

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button{
        
        background: none;
      }
  
      a {
        font-size: 2rem;
        text-transform: uppercase;
        transition: all 0.5s ease-in-out;
        color: white;
        padding: 10px;
  
        &:hover {
          
          background-color:#8a0027;
          color:white;
          
        }
      }
    }
  }
