<section>
  <article>
    <ul>
      <li>
        <img src="https://picsum.photos/500/300?random=6" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=7" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=8" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=9" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=10" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random11" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=12" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=13" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=14" alt="" />
      </li>
      <li>
        <img src="https://picsum.photos/500/300?random=15" alt="" />
      </li>
    </ul>
  </article>
</section>
