<section>
    <h2>Gallery</h2>
    <article>
      <ul>
        <li>
          <img
            src="https://picsum.photos/500/300?random=1"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://picsum.photos/500/300?random=2"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://picsum.photos/500/300?random=3"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://picsum.photos/500/300?random=4"
            alt=""
          />
        </li>
        <li>
          <img
            src="https://picsum.photos/500/300?random=5"
            alt=""
          />
        </li>
      </ul>
    </article>
  </section>
