//RESET
*{
    margin: 0;
    padding: 0
}
body{
    background-color: #8a0027;
background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

//GLOBAL STYLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

// PALETTE
// DARK
$background: #004643;
$text: #abd1c6;
$button: #f9bc60;
$title: #fffffe;
$stroke: #001e1d;

//LIGHT
$background-light: #abd1c6;
$text-light: #0f3433;
$button-light: #f9bc60;
$title-light: #001e1d;